.marquee {
  --gap: var(--space-2xl-3xl);
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);

  &__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll var(--marquee-duration) linear infinite;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}

/* Reverse animation */
.marquee--reverse .marquee__content {
  animation-direction: reverse;
}

/* Pause on hover */
.marquee--hover-pause:hover .marquee__content {
  animation-play-state: paused;
}

/* Attempt to size parent based on content. Keep in mind that the parent width is equal to both content containers that stretch to fill the parent. */
.marquee--fit-content {
  max-width: fit-content;
}

/* A fit-content sizing fix: Absolute position the duplicate container. This will set the size of the parent wrapper to a single child container. */
.marquee--pos-absolute .marquee__content:last-child {
  position: absolute;
  top: 0;
  left: 0;
  animation-name: scroll-abs;
}

@keyframes scroll-abs {
  from {
    transform: translateX(calc(100% + var(--gap)));
  }

  to {
    transform: translateX(0);
  }
}

.social {
  --marquee-duration: 30s;

  padding: var(--site-margin);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .marquee-wrapper {
    background-color: var(--bw-black);
    border-radius: var(--panel-radius);
    // padding: var(--space-l);
    width: 100%;
    height: calc(100vh - 2 * var(--site-margin));
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    font-size: var(--fs-9);
    letter-spacing: -0.025ch;
    line-height: 100%;
    color: var(--bw-white);
    text-decoration: none;
  }
}
