{{ 'contact.css' | asset_url | stylesheet_tag }}

{% liquid
  assign heading = section.settings.heading_type
%}

<section class="contact contact--grid">
  <div class="contact__container">
    <div class="contact__item contact__item--inquiries">
      <h2 class="contact__title fs-2">INQUIRIES</h2>
      <p class="contact__intro font-mono fs--2">
        Malesuada porttitor luctus eros donec. Feugiat nisi mauris et purus ipsum. Tristique venenatis convallis nec at
        ipsum maecenas auctor ut. Quam volutpat enim varius quis ut faucibus. Sit nunc sem lorem vel. Tortor est
        pellentesque interdum semper.
      </p>
      <a href="mailto:inquiries@peterriezebos.com" class="contact__link fs--1"><b>inquiries@peterriezebos.com</b></a>
    </div>
    <div class="contact__item contact__item--press">
      <h2 class="contact__title fs-2">PRESS</h2>
      <p class="contact__intro font-mono fs--2">
        Ullamcorper eget risus adipiscing faucibus adipiscing ultrices lectus risus. Neque tortor consequat consequat
        sed interdum id ullamcorper mattis condimentum. Tellus pretium lectus sed sit eleifend magna nibh etiam. Viverra
        etiam nisi.
      </p>
      <a href="mailto:press@peterriezebos.com" class="contact__link fs--1"><b>press@peterriezebos.com</b></a
      ><br>
      <a href="#" class="contact__link fs--1">presskit (pdf)</a>
    </div>
    <div class="contact__item contact__item--collabs">
      <h2 class="contact__title fs-2">COLLABS</h2>
      <p class="contact__intro font-mono fs--2">
        Sed adipiscing ullamcorper adipiscing amet. Sed purus suspendisse ut id facilisi mattis eget. Velit eu etiam
        adipiscing lobortis. Felis hac a a netus. Turpis quam pharetra quam risus amet. Ac interdum duis id lacus
        integer. Non dapibus netus id varius.
      </p>
      <a href="mailto:collabs@peterriezebos.com" class="contact__link fs--1"><b>collabs@peterriezebos.com</b></a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Contact",
  "class": "contact-section",
  "settings": [
    {
      "type": "select",
      "id": "heading_type",
      "label": "Heading Type",
      "default": "h2",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Want to connect, collaborate, or just stay in the loop?"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Reach out — Peter might be in Hardewijk, Amsterdam, L.A., or somewhere in between."
    }
  ],
  "blocks": [
    {
      "type": "contact_block",
      "name": "Contact Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Titel",
          "default": "Contact"
        },
        {
          "type": "text",
          "id": "email",
          "label": "E-mail",
          "default": "info@mail.com"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact"
    }
  ]
}
{% endschema %}
