{{ 'contact.css' | asset_url | stylesheet_tag }}

{% if section.blocks.size > 0 %}
  <section class="contact contact--grid">
    <div class="contact__container">
      {% for block in section.blocks %}
        <div class="contact__item contact__item--{{ block.type }}">
          {% if block.settings.title != blank %}
            <h2 class="contact__title fs-2">{{ block.settings.title }}</h2>
          {% endif %}
          {% if block.settings.text != blank %}
            <div class="contact__intro font-mono fs--2">{{ block.settings.text | escape }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Contact",
  "class": "contact-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "inquiries",
      "name": "Contact Block Left",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Titel",
          "default": "INQUIRIES"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "E-mail",
          "default": "<p>inquiries@peterriezebos.com</p>"
        }
      ]
    },
    {
      "type": "press",
      "name": "Contact Block Middle",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Titel",
          "default": "PRESS"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "E-mail",
          "default": "<p>press@peterriezebos.com</p>"
        }
      ]
    },
    {
      "type": "collabs",
      "name": "Contact Block Right",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Titel",
          "default": "COLLABS"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "E-mail",
          "default": "<p>collabs@peterriezebos.com</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact"
    }
  ]
}
{% endschema %}
