{{ 'marquee.css' | asset_url | stylesheet_tag }}

<section class="social">
  <div class="marquee-wrapper">
    <div class="marquee">
      <ul class="social-links marquee__content">
        {% for block in section.blocks %}
          <li>
            <div class="social__link">{{ block.settings.text }}</div>
          </li>
        {% endfor %}
      </ul>
      <ul class="marquee__content" aria-hidden="true">
        {% for block in section.blocks %}
          <li>
            <div class="social__link">{{ block.settings.text }}</div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Marquee",
  "class": "marquee-section",
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Instagram"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Marquee"
    }
  ]
}
{% endschema %}
