h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: var(--theme-color-primary);
  text-decoration: none;
}

.title-large {
  font-size: 120px;
  line-height: 80%;
}

.title {
  font-size: 25px;
  line-height: 120%;
}

@media only screen and (min-width: 990px) {
  .title-large {
    font-size: 16vw;
  }
  
  .title {
    font-size: 42px;
  }
  
  p {
    font-size: 1.5rem;
  }
}